@import "./reset.css";
:root{
    --background-color: #d7f7f9;
    --foreground-color: #235464;
    --third-color: white;
    --fourth-color: black;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /*background-color: var(--foreground-color);*/
}
main{
    background-color: var(--background-color);
    max-width: 60rem;
    margin: 0 auto;
}
.header{
    background-color: var(--third-color);
    margin-bottom: 2rem;
}
.header > div > ul{
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}
.header > div > ul > li{
    list-style: none;
}
.header > div > ul > li > a{
    text-decoration: none;
    color: var(--foreground-color);
    padding: 5px 8px;
}
.header > div > ul > li > a:hover{
    background-color: var(--foreground-color);
    color: var(--third-color);
    border-radius: 0.5rem;
    padding: 5px 8px;
}
/*End of navigation*/
.hero{
    text-align: center;
    color: var(--foreground-color);
}
.hero > .blog-container{
    max-width: 50rem;
    margin: 0 auto;
    background-color: var(--background-color);
}
.hero > .blog-container > .blog-posts{
    background-color: var(--third-color);
    border: 2px solid var(--fourth-color);
    border-radius: 0.9rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.hero > .blog-container > .blog-posts > button{
    color: var(--third-color);
    background-color: green;
    padding: 0.9rem 1.3rem;
    border-radius: 0.3rem;
}
.hero > .blog-container > .blog-posts > button:last-child{
    color: var(--third-color);
    background-color: red;
    padding: 0.9rem 1.3rem;
    border-radius: 0.3rem;
}
/*End of hero section*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--foreground-color);
}
footer > h1{
    text-align: center;
}
footer > div > ul{
display: flex;
list-style: none;
justify-content: center;
column-gap: 1rem;
}
/*End of footer section*/
